@model BlogMastery.Models.Post
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <p><span>@Model.Title</span></p>
        <p>Author: <span>@Model.Reviewer</span></p>
        <p>Genre(s): <span>@Model.Genre.Name</span></p>
        @foreach (var tag in Model.PostTag)
        {
            <p>Tags: @tag.Tags.Name</p>

        }
        <p>Blog: <span>@Model.Body</span></p>
        <p>Publish Date: <span>@Model.DateTime</span></p>

        <p class="postindex"><a href="/Post/Index/">Index</a></p>
        <hr />
    </div>
</body>
</html>
